<div class="mt-5 text-center">
  <h2>マイページ</h2>
</div>

<div class="container mt-5">
  <div class="row d-flex d-wrap justify-content-center">
      <table class="table col col-lg-7">
          <tr>
            <th class="col-4"><h3>登録情報<h3></th><td class="col-5"><%= link_to "編集する", edit_customer_path, class: "btn btn-success" %></td>
          </tr>
          <tr>
            <th>氏名</th><td><%= @last_name %>&nbsp;<%= @first_name %></td>
          </tr>
          <tr>
            <th>カナ</th><td><%= @last_name_kana %>&nbsp;<%= @first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th><td><%= @postal_code %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= @address %></td>
          </tr>
          <tr>
            <th>電話番号</th><td><%= @telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th><td><%= @email %></td>
          </tr>
      </table>

  </div>
</div>

          <div class="container my-3 d-flex">
            <div class="col-lg-6 text-center">
              <h3>配送先</h3>
                <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary"%>
              </div>
              <div class="col-lg-2 text-center">
                <h3>注文履歴</h3>
              <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
            </div>
          </div>

