  <div class="mt-4 text-center">
    <h2>マイページ</h2></h2>
  </div>



<div class="container mt-5">
  <div class="row">
    <div class="col d-flex">



      <table class="table">
          <tr>
            <th><h3>登録情報<h3></th><td><%= link_to "編集する", edit_customer_path, class: "btn btn-success" %></td>
          </tr>
          <tr>
            <th>氏名</th><td><%= @last_name %>&nbsp;<%= @first_name %></td>
          </tr>
          <tr>
            <th>カナ</th><td><%= @last_name_kana %>&nbsp;<%= @first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th><td><%= @postal_code %></td>
          </tr>
          <tr>
            <th>住所</th><td><%= @address %></td>
          </tr>
          <tr>
            <th>電話番号</th><td><%= @telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th><td><%= @email %></td>
          </tr>
      </table>

          <div class="col-lg-2  justify-content-center mt-5">
            <div class="col text-center">
              <h3>配送先</h3>
              <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary"%>
              </div>
              <div class="col text-center mt-5">
                <h3>注文履歴</h3>
              <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
            </div>
          </div>

    </div>
  </div>
</div>