<div class="container mt-5">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-5">
<h2>商品一覧</h2>
<div class="text-right mb-2">
  <%= link_to "新規登録" ,new_admin_item_path, class:"btn btn-lg btn-success" %>
</div>
<table class="table ">
  <thead class="bg-lite">
    <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @items.each do |item| %>
    <td><%= item.id %></td>
    <td><%= link_to item.item_name, admin_item_path(item) %></td>
    <td><%= item.no_tax_price %></td>
    <td><%= item.genre.genre %></td>
    <td><% if item.sale_status %>
        <span class="text-success">販売中</span>
        <% else %>
        販売停止中
        <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>
  </div>
</div>
</div>