<div class ="container">
<div class="row">
  <div class="col-md-5 mt-5">
    <h2>商品新規登録</h2>
  </div>
</div>
</div>
<div class="container mt-5">
<div class="row justify-content-center">
<%= form_with model:@items,url:admin_items_path,local:true do |f| %>
<table>
  <tbody>
    <tr>
    <th>商品画像</th>
    <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
    <th>商品名</th>
    <td><%= f.text_field :item_name, class: "form-control" %></td>
    </tr>
    <tr>
    <th>商品説明</th>
    <td><%= f.text_area :item_text, class: "form-control" %></td>
    </tr>
    <tr>
    <th>ジャンル</th>
    <td><%= f.collection_select :genre_id, Genre.all ,:id, :genre, include_blank: "--選択してください--" %></td>
    <tr>
    <th>税抜価格</th>
    <td><%= f.text_field :no_tax_price, class: "form-control" %></td>
    </tr>
    <tr>
    <th>販売ステータス</th>
    <td><%= f.select :is_active,[["販売中",true],["販売停止中",false]],include_blank: "選択して下さい" %></td>
    </tr>
  </tbody>
  </table>
  <%= f.submit "新規登録" , class: "btn btn-primary pull-right" %>
  <% end %>
  </div>
  </div>


