<div class="contaier-fulied my-5">
  <div class="row">
     <div class="side col-lg-2 mx-5 myborder">
      <%= render "public/items/genre", genres: @genres %>
     </div>

      <div class="card" style="max-width: 800px;">
        <img class="card-img topPage-image" src="https://thumb.photo-ac.com/87/87c86c7f3187d5430f1ab77a3d4b1817_w.jpeg">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
          <p class="text-white text-center topPage-text">ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
        </div>
      </div>
  </div>

  <div class="container mt-3">
    <h3>新着商品</h3>
      <div class="row-lg-5 d-flex flex-wrap">
        <% @items.each do |item| %>
        <div class="col mb-3">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image,class: "itemImage" %>
          <% end %>
          <br>
          <p><%= item.item_name %><br>&yen;<%= item.on_tax_price %></p>
        </div>
      <% end %>
      </div>

<p class="text-right"><%= link_to "すべての商品を見る＞＞", items_path %></p>
  </div>
</div>