
  <p class="text-center py-3 myborder-bottom">ジャンル検索</p>
    <% @genres.each do |genre| %>
      <li><%= genre.genre %></li>
    <% end %>
</div>  
  <div class="card" style="max-width: 800px;">
    <img class="card-img" src="/assets/PAK57_ichigonocake_TP_V.jpg">
    <div class="card-img-overlay">
      <p class="text-white">ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
    </div>  
  </div>
  <h3>新着商品</h3>
    <tbody>
    <%= @items.each do |item| %>   
      <tr>
        <td>商品画像</td>
        <td><%= item.item_name %></td>
        <td><%= item.no_tax_price %></td>
      </tr>
    <% end %>  
    </tbody>
  <%= link_to "すべての商品を見る", items_path %>