<div class="container">
  <h3>注文履歴詳細</h3>

  <div class="row mt-5">
    <table class="table table-borderless col-sm-10">
      <tr>
        <th class="col-sm-2">購入者</th>
        <td>
          <%= link_to admin_customer_path(@order.customer_id) do %>
            <%= @order.customer.last_name + @order.customer.first_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="col-sm-2">注文日</th>
        <td><%= l @order.created_at %></td>
      </tr>
      <tr>
        <th class="col-sm-2">配送先</th>
        <td>〒<%= @order.shipping_postcode + ' ' + @order.shipping_address %><br><%= @order.shipping_name %></td>
      </tr>
      <tr>
        <th class="col-sm-2">支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th class="col-sm-2 align-middle">注文ステータス</th>
        <td class="form-inline">
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select:order_status, Order.order_statuses_i18n.invert, {}, class:"form-control" %>
            <%= f.submit "更新", class:"btn btn-success ml-4" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row mt-5">
    <table class="table col-sm-8">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="2">制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% total = 0 %>
        <% @order_detail.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.item_name %></td>
            <td><%= order_detail.purchese_price %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= order_detail.purchese_price * order_detail.quantity %></td>
            <%= form_with model: @order_detail, url: admin_work_path, method: :patch do |f| %> <!--admin_work_pathの後ろに(order_detail.id)が必要？？-->
              <td><%= f.select:production_status, OrderDetail.production_statuses_i18n.invert %></td>
              <td><%= f.submit '更新', class:"btn btn-success" %></td>
            <% total += order_detail.purchese_price * order_detail.quantity %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-borderless col-sm-3 offset-sm-1 align-self-end">
      <tr><th>商品合計</th><td><%= total %>円</td></tr>
      <tr><th>送料</th><td><%= @order.postage %>円</td></tr>
      <tr><th>請求金額合計</th><td class="font-weight-bold"><%= @order.billing_amount %>円</td></tr>
    </table>
  </div>
</div>