<h3>ジャンル一覧・追加</h3>

<p>ジャンル名</p>

<%= form_with model:@genre, url:admin_genres_path, method: :post do |f| %>
  <%= f.text_field:genre %>
  <%= f.submit '新規登録', class:"btn btn-success" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.genre %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>