<div class="container mt-5">
  <div class="row">
    <div class="col my-3">
    <h2>配送先編集</h2>
      <div class="mx-5">
        <%= form_with model: @address do |f| %>
        <div class="col-sm-8 mx-3 mb-3">
          <table class="table table-borderless table-sm">
            <tr>
              <th class="col-sm-3"><%= f.label :postcode, '郵便番号(ハイフンなし)', class:"col-form-label" %></th>
              <td><%= f.text_field :postcode, placeholder: "0000000", class:"form-control w-50"%></td>
            </tr>
            <tr>
              <th class="col-sm-3"><%= f.label :address, '住所', class:"col-form-label" %></th>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %></td>
            </tr>
            <tr>
              <th class="col-sm-3"><%= f.label :name, '宛名', class:"col-form-label" %></th>
              <td><%= f.text_field :name, placeholder:"令和道子", class:"form-control w-50" %></td>
            </tr>
          </table>
            <div class="row d-flex justify-content-end">
              <div class="mt-3">
               <%= f.submit "変更内容を保存", class: "btn btn-success" %>
              </div>
            </div>
      </div>
    </div>
      <% end %>