<h5>配送先編集</h5>
<tr>
  <%= form_with model: @address do |f| %>
  <th>郵便番号(ハイフンなし)</th>
    <%= f.text_field :postcode %>
  <th>住所</th>
    <%= f.text_field :address %>
  <th>宛名</th>
    <%= f.text_field :name %>
    <%= f.submit "変更内容を保存", class: "btn btn-success" %>
  <% end %>  
</tr>