<div class="container mt-5">
  <div class="row">
    <div class="d-flex flex-column bd-highlight mb-3">
    <h2>配送先登録/一覧</h2>
      <%= form_with model: @address do |f| %>
      <div class="form-group mt-3">
        <div class="p-2 bd-highlight">
          <i>郵便番号(ハイフンなし)</i>
          <%= f.text_field :postcode, placeholder: "0000000" %>
        </div>  
        <div class="p-2 bd-highlight">
          <i>住所</i>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
        <div class="p-2 bd-highlight">
          <i>宛名</i>
          <%= f.text_field :name, placeholder: "令和道子" %>
          <i class="ml-5"><%= f.submit "新規投稿", class: "btn btn-success" %></i>
        </div>
      </div>    
      <% end %>
    </div>  

    <table class="table table-bordered my-5">
      <thead class="thead-light">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @addresses.each do |address| %>
        <% if address.customer == current_customer %>
        <tr>
          <td class="align-middle">
            <%= address.postcode %>
          </td>
          <td class="align-middle">
            <%= address.address %>
          </td>
          <td class="align-middle">
            <%= address.name %>
          </td>
          <td>
            <%= link_to "編集する", edit_address_path(current_customer), class:"btn btn-success" %>
            <%= link_to "削除する", address_path(address) , method: :delete, "data-confirm" => "本当に消しますか？" ,class: "btn btn-danger" %>
          </td>
        <% end %>  
        </tr>
      <% end %>  
      </tbody>
    </table>  
  </div>
</div>