<thead>
  <h2>配送先登録/一覧</h2>
  <%= form_with model: @address do |f| %>
  <i>郵便番号(ハイフンなし)</i>
    <%= f.text_field :postcode, placeholder: "0000000" %>
  <i>住所</i>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  <i>宛名</i>
    <%= f.text_field :name, placeholder: "令和道子" %>
    <%= f.submit "新規投稿", class: "btn btn-success" %>
  <% end %>
</thead>
<tbody>
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
    <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= address.postcode %>
        </td>
        <td>
          <%= address.address %>
        </td>
        <td>
          <%= address.name %>
        </td>
        <% if address.customer == current_customer %>
          <td>
            <%= link_to "編集する", edit_address_path(current_customer), class:"btn btn-success" %>
          </td>
          <td>
            <%= link_to "削除する", address_path(address) , method: :delete, "data-confirm" => "本当に消しますか？" ,class: "btn btn-sm btn-danger" %>
          </td>
        <% end %>  
      </tr>
    <% end %>  
</tbody>
