<div class="text-center my-4">
<h2>ショッピングカート</h2>
</div>


<table class="table">
  <thead>
  <tr>
    <th> </th>
    <th>商品名</th>
    <th>単価(税込み)</th>
    <th>数量</th>
    <th>小計</th>
    <th><%= link_to "カートを空にする", cart_items_path,method: :delete,"data-confirm" => "全て削除します。よろしいですか？", class:"btn btn-danger" %></th>

  </tr>
  </thead>
  <tbody>
    <% @cart_item.each do |cart_item| %>
    <td><%= image_tag cart_item.item.image, class: "cartItem_imageSize"%></td>
    <td><%= cart_item.item.item_name %></td>
    <td><%= (cart_item.item.no_tax_price * 1.1).floor %></td>
    <td><%= cart_item.merchandise_quantity %></td>
    <td><%= (cart_item.merchandise_quantity * cart_item.item.no_tax_price * 1.1).round %></td>
    <td><%= link_to "削除する",cart_item_path(cart_item.id), method: :delete,"data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %></td>

  </tbody>
      <% end %>
  <tr><th>合計金額</th><td><%= @total_price %></td></tr>

</table>

<p>買い物を続ける</p>
<p>情報入力に進む</p>

