<div class="container-fluid px-5">
  <div class="row">
    <h3>注文情報確認</h3>
  </div>
  <div class="row mt-3">
    <div class="col-sm-7">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% total = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="align-baseline"><%= image_tag cart_item.item.get_image(50,50) %> <%= cart_item.item.item_name %></td>
              <td class="align-baseline"><%= cart_item.item.on_tax_price %>円</td>
              <td class="align-baseline"><%= cart_item.merchandise_quantity %>個</td>
              <td class="align-baseline"><%= cart_item.item.on_tax_price * cart_item.merchandise_quantity %>円</td> <!--小計を求めるメソッドを導入する-->
            </tr>
            <% total += cart_item.item.on_tax_price * cart_item.merchandise_quantity %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3 ml-3">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr><th class="col-sm-6">商品合計</th><td><%= total %>円</td></tr>
          <% @order.postage = 800 %>
          <tr><th class="col-sm-6">送料</th><td><%= @order.postage %>円</td></tr>
          <% @order.billing_amount = total + @order.postage %>
          <tr><th class="col-sm-6">請求金額</th><td><%= @order.billing_amount %>円</td></tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div  class="col-sm-8">
      <table class="table table-borderless">
        <tr style="height: 50px">
          <th class="col-sm-2">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="col-sm-2">お届け先</th>
          <td>〒<%= @order.shipping_postcode + " " + @order.shipping_address %><br><%= @order.shipping_name %></td>
        </tr>
      </table>
    </div>
  </div>

    <div class="d-flex justify-content-center mt-3">
      <%= form_with model: @order, url:orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :shipping_postcode, :value => @order.shipping_postcode %>
        <%= f.hidden_field :shipping_address, :value => @order.shipping_address %>
        <%= f.hidden_field :shipping_name, :value => @order.shipping_name %>
        <%= f.hidden_field :postage, :value => @order.postage %>
        <%= f.hidden_field :billing_amount, :value => @order.billing_amount %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.submit ' 注文を確定する ', class:"btn btn-success btn-lg" %>
      <% end %>
    </div>
</div>