<div class="container-fluid px-5">
  <div class="row flex-column">
    <h3 class="my-3">注文情報入力</h3>
    <%= form_with model: @order, url: orders_comfirm_path, method: :post do |f| %>
    <div>
      <strong><p>支払方法<p></strong>
      <div class="mx-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card]%>
        <br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>
    <div>
      <strong><p>お届け先</p></strong>
      <div class="mx-5">
        <%= f.radio_button :select_address, 0, checked: "checked" %>
        <%= f.label :select_address_customer_address, "ご自身の住所" %>
        <div class="mx-5 mb-3">
          <%= "〒" + current_customer.postal_code + ' ' + current_customer.address %><br>
          <%= current_customer.last_name + current_customer.first_name %>
        </div>
        <%= f.radio_button :select_address, 1 %>
        <%= f.label :select_address_registration_address, "登録済住所から選択" %>
        <div class="col-sm-9 mx-4 mb-3">
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display), {prompt: '住所を選択'}, class:"form-control text-left" %>
        </div>
        <%= f.radio_button :select_address, 2 %>
        <%= f.label :select_address_new_address, "新しいお届け先" %>
        <div class="col-sm-8 mx-4 mb-3">
          <table class="table table-borderless table-sm">
            <tr>
              <th class="col-sm-3"><%= f.label :shipping_postcode, '郵便番号(ハイフンなし)', class:"col-form-label" %></th>
              <td><%= f.text_field:shipping_postcode, placeholder:"0000000", class:"form-control w-50" %></td>
            </tr>
            <tr>
              <th class="col-sm-3"><%= f.label :shipping_address, '住所', class:"col-form-label" %></th>
              <td><%= f.text_field:shipping_address, placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %></td>
            </tr>
            <tr>
              <th class="col-sm-3"><%= f.label :shipping_postcode, '宛名', class:"col-form-label" %></th>
              <td><%= f.text_field:shipping_name, placeholder:"田中太郎", class:"form-control w-50" %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit ' 確認画面へ進む ', class:"btn btn-primary" %>
      </div>
      </div>
    <% end %>
  </div>
</div>