<h3>注文情報入力</h3>
<%= form_with model: @order, url: new_order_path, method: :post do |f| %>

  <strong><p>支払方法<p></strong>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card]%>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

  <strong><p>お届け先</p></strong>
  <%= f.radio_button :select_address, 0 %>
  <%= f.label :select_address_customer_address, "ご自身の住所" %>

  <%= f.radio_button :select_address, 1 %>
  <%= f.label :select_address_registration_address, "登録住所から選択" %>

  <%= f.radio_button :select_address, 2 %>
  <%= f.label :select_address_new_address, "新しいお届け先" %>

  <%= f.submit '確認画面へ進む' %>

<% end %>
