<div class="container-fluied">
  <div class="row">
    <div class="side col-lg-2 myborder">
      <%= render "genre", genres: @genres %>
    </div>

  <div class="column col-lg-9">
    <h3>商品一覧(全<%= @item.count %>件)</h3>
    <div class="d-flex my-box-light flex-wrap mb-2">

      <% @items.each do |item| %>
      <div class="pr-3 pb-3">
        <%= link_to item_path(item) do %>
          <p><%= image_tag item.image,class: "itemImage" %></p>
          <p><%= item.item_name %></p>
        <% end %>
          <p>&yen;<%= item.on_tax_price %></p>
      </div>
      <% end %>
    </div>
       <div class="container"><%= paginate @items %></div>
  </div>
  </div>
</div>
